<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link href="~/components/css/normalize.css" rel="stylesheet" />
    <link href="~/components/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/components/css/material.min.css" rel="stylesheet" />
    <link href="~/components/css/roboto.css" rel="stylesheet" />
    <link href="~/components/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/components/css/app.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/components/js/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">

        @Html.Partial("~/Views/_navigation.cshtml")

        @RenderBody()

    </div>

    <!-- Bootstrap JavaScript -->
    <script src="~/components/js/bootstrap.min.js"></script>
    <script src="~/components/js/material.min.js"></script>
    <script src="~/components/js/ripples.min.js"></script>
    <script src="~/components/js/golbals.js"></script>
</body>
</html>